- var svgPath = "assets/img/sprite.svg"

mixin svg(svgName, className)
    if className
        svg(class='svg-'+svgName+'-dims svg-icon' + ' ' + className)
            use(xlink:href=svgPath+'#'+svgName)
    else
        svg(class='svg-' + svgName + '-dims svg-icon')
            use(xlink:href=svgPath + '#' + svgName)

mixin link(className, href, name)
    a(class=className href=href)= name

mixin socialSvg(items)
    each item in items
        li(class='social-icons__item')
            a(class='social-icons__link' href=item[1])
                +svg(item[0], 'social-icons_' + item[2])

mixin profile(type)
    if type === 'main'
        .profile
            .profile__userpic
                img.profile__userpic-image(src='assets/img/user_photo.jpg' alt='Yakut Anna')
            .profile__info
                h1.profile__name Якут Анна
                p.profile__description Личный сайт веб-разработчика
    else if type === 'blog'
        .profile
            .profile__userpic
                img.profile__userpic-image(src='/img/user_photo.jpg' alt='Yakut Anna')
            .profile__info
                h1.profile__title Блог
                p.profile__description Статьи, которые я написала

mixin stack(items)
    ul.stack
        each item in items
            li.stack__item !{item}
                span.coma ,

mixin button(icon, type, className, text)
    if icon === 'link' && type === 'button'
        button(class=`${className}`+' btn btn-link' type=type)
            +svg('link')
            |#{text}
    else if icon === 'link' && type !== 'button'
        a(class=`${className}`+' btn btn-link' href=type)
            +svg('link')
            | #{text}
    else if icon === ''
        button(class=`${className}`+' btn' type=type)
            |#{text}

mixin sectionHeader(type, title, classNameHeader, classNameSvg)
    if type === ''
        div(class='section-header section-header_'+`${classNameHeader}`)
            h2(class='title-text title-text_b title-text_'+`${classNameHeader}`) !{title}
    else
        div(class='section-header section-header_'+`${classNameHeader}`)
            +svg(`${type}`, 'section-header__bg section-header__bg_' +`${classNameSvg}`)
            h1(class='title-text title-text_a title-text_'+`${classNameHeader}`) !{title}

mixin reviews(data)
    each item in data
        .review__item
            .review__person
                .review__userpic: img.review__userpic_image(src=item.image alt=item.name)
            .review__text !{item.text}
                +svg('quote', 'review__text-icon')
            .review__info
                    .review__name !{item.name}
                    .review__description !{item.description}

mixin skills(data, progress)
    ul.skill__item
        each item in data
            li.skill__progress(data-name=`${item[0]}` data-percent=`${item[1]}`)
                svg(width="140" height="140" class="g-circles")
                    circle(r="57" cx="70" cy="70" stroke="#dfdcd5" fill="none")
                    circle(r="57" cx="70" cy="70" stroke="#77a266" transform="rotate(-90 70 70)" class="sector")

mixin contact(items)
    ul.contact__form__items
        each item in items
            li(class='contact__form__item')
                +svg(item[0])
                span(class='contact__form__item-text') #{item[1]}
